 @model ResortEditViewModel
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            <div class="row justify-content-between">
                <div class="col-auto">Hotel Create</div>
                <div class="col-auto"><a href="/Hotel/Create" class="btn btn-outline-primary px-3 py-2">Create</a></div>
            </div>
        </h4>
        <h6 class="card-subtitle">Add class <code>.table</code></h6>
        <div class="row justify-content-center align-items-center">
            <div class="col-8">
                <form method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label asp-for="@Model.ResortName" class="form-label ">Hotel Name</label>
                        <input asp-for="@Model.ResortName" value="@Model.ResortName" type="text" class="form-control border border-dark">
                        <span class="text-danger" asp-validation-for="@Model.ResortName"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Location" class="form-label">Hotel Location</label>
                        <input asp-for="@Model.Location" value="@Model.Location" type="text" class="form-control border border-dark">
                        <span class="text-danger" asp-validation-for="@Model.Location"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Rating" class="form-label">Hotel Rating</label>
                        <input asp-for="@Model.Rating" value="@Model.Rating" type="text" class="form-control border border-dark">
                        <span class="text-danger" asp-validation-for="@Model.Rating"></span>
                    </div>

                    <div class="input-group mb-3">
                        <label asp-for="@Model.ImageFile" class="input-group-text" for="inputGroupFile01">Upload</label>
                        <input type="file" asp-for="@Model.ImageFile" class="form-control" id="inputGroupFile01">
                        <span class="small">leave it empty if you want to keep your pic unchanged</span>
                        <span class="text-danger" asp-validation-for="@Model.ImageFile"></span>
                    </div> 
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>