@model FlightEditViewModel
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            <div class="row justify-content-between">
                <div class="col-auto">Flight Edit</div>
                <div class="col-auto"><a href="/Flight/Create" class="btn btn-outline-primary px-3 py-2">Create</a></div>
            </div>
        </h4>
        <h6 class="card-subtitle">Add class <code>.table</code></h6>
        <div class="row justify-content-center align-items-center">
            <div class="col-8">
                <form method="post"  enctype="multipart/form-data">
                    <input type="hidden" asp-for="@Model.FlightID" />
                    <div class="mb-3">
                        <label asp-for="@Model.FlightNumber" class="form-label">Flight Number</label>
                        <input asp-for="@Model.FlightNumber" type="text" class="form-control border border-dark">
                        <span class="text-danger" asp-validation-for="@Model.FlightNumber"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.DepartureAirportCode" class="form-label">Departure Airport Code</label>
                        <input asp-for="@Model.DepartureAirportCode" type="text" class="form-control border border-dark">
                        <span class="text-danger" asp-validation-for="@Model.DepartureAirportCode"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.ArrivalAirportCode" class="form-label">Arrival Airport Code</label>
                        <input asp-for="@Model.ArrivalAirportCode" type="text" class="form-control border border-dark">
                        <span class="text-danger" asp-validation-for="@Model.ArrivalAirportCode"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.DepartureDateTime" class="form-label">Departure Date Time</label>
                        <input asp-for="@Model.DepartureDateTime" type="datetime-local" class="form-control border border-dark">
                        <span class="text-danger" asp-validation-for="@Model.DepartureDateTime"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.ArrivalDateTime" class="form-label">Arrival Date Time</label>
                        <input asp-for="@Model.ArrivalDateTime" type="datetime-local" class="form-control border border-dark">
                        <span class="text-danger" asp-validation-for="@Model.ArrivalDateTime"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.AirlineID" class="form-label">Airline</label>
                 <select asp-for="@Model.AirlineID" class="form-select border border-dark">
                @foreach (var item in Model.AirlineList     )
                {
                    <option selected="@(item.AirlineID == Model.AirlineID)"  value="@item.AirlineID"> @item.AirlineName</option>            
                }
            </select>


                        <span class="text-danger" asp-validation-for="@Model.AirlineID"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
